langchain
langchain-core
langchain-community
langchain-chroma
langchain-huggingface
langchain-openai
huggingface-hub
langchain-groq
chromadb
langchain_nvidia_nim
# pdfplumber
# pypdf
httpx
python-dotenv
fastapi
uvicorn
sentence-transformers
